* {
    font-family: 'Courier New', Courier, monospace;
}

.board {
    border: 1px solid black;
    background-color: lightyellow;
    display: inline-flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 1px solid #404040;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.highlighted {
    outline: double;
    outline-color: red;
    outline-width: 2px;
}

.cell.empty {
    background-color: transparent;
}

.cell.white {
    background-color: white;
    color: black;
}

.cell.black {
    background-color: black;
    color: white;
}